<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Deer_Hunting_Calls copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Deer_Hunting_Calls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D0E501716BD7A9900605F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D0E504116BD7A9A00605F9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78FF34C016CABFB400FA4781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
